* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

span,
button,
input {
  padding: 8px;
}
