* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 5px auto;
  border: 2px solid salmon;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header li {
  list-style: none;
  display: inline;
  margin-left: 16px;
}

li a {
  text-decoration: none;
}

header {
  background-color: darkgray;
  padding: 16px;
  margin-bottom: 56px;
}

section .container {
  display: block;
}

section .container-about img {
  height: 360px;
  width: 440px;
  margin-right: 32px;
}

.container-about {
  display: flex;
  align-items: start;
  max-width: 1024px;
  width: 100%;
  margin: 5px auto;
  border: 2px solid salmon;
}

h2 {
  margin-top: 12px;
  border-bottom: solid #ccc;
}

section h2 {
  margin-bottom: 16px;
  font-style: italic;
  padding: 8px;
}

.conteudo p {
  padding-top: 12px;
}

.produto img {
  max-width: 100%;
}

.produto p {
  padding: 10px 0;
}

.lista_produtos {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  column-gap: 2%;
  row-gap: 5%;
}

h3 {
  margin-top: 32px;
  font-weight: bold;
  font-size: 1.25em;
}

button {
  background-color: #ccc;
  padding: 8px;
  border-radius: 6px;
}

@media screen and (max-width: 1023px) {
  
  .global_container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
/*O grid não esta alinhado da forma desejada
 A seção SOBRE A LOJA, deveria estar abaixo do 
 Header, como alinha corretamente?*/
    grid-template-areas:
      'header produto'
      'sobre produto';
  }

  h2 {
    margin-top: 16px;
  }

  header {
    grid-area: header;
  }

  .container ul {
    margin-top: 5px;
  }

  .sobre {
    grid-area: sobre;
  }

  .container-about {
    max-width: 90%;
    flex-direction: column;
    grid-area: sobre;
  }

  .container-about img {
    max-width: 100%;
  }

  section .produto {
    grid-area: produto;
  }

  .lista_produtos {
    display: block;
  }

  .produto h3,
  img {
    margin-top: 16px;
    border-radius: 6px;
  }

  button {
    margin: auto;
    margin-bottom: 32px;
    display: block;
    color: black;
    box-shadow: 3px 3px 3px inset white;
  }
}

@media screen and (max-width: 640px) {

  .global_container {
  
    display:block;
    }

    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
    }

    .container-about img {
      width: 90%;
      align-self:center; 
      /*1-Como faço para que a foto ocupe-
       todo o espaço do container?
       2- O conteudo desse container e do header -
       Vazam para fora em displays menores (558px)
       Como evitar esse comportamento?*/

    }

    button {
      width: 100%;
      margin-top: 5px;
    }

}